DB_USER=postgres.qyjpldpaiycjdjaeelbb
DB_PASSWORD=indonesia
DB_NAME=postgres
DB_HOST=aws-0-us-west-1.pooler.supabase.com
DB_PORT=5432
DB_SSLMODE=disable

JWT_SECRET_KEY=hii-yNwFfjTEyG7W2JdhdQI5cFOp4r7MXk1ycc-vYoM